# Ignore everything, but not directories: ######################################
*
!**/

# Don't ignore the following files: ############################################

# This file
!.gitignore
!.gitattributes

# Plain text documents
!**.txt

# Markdown text documents
!**.md

# Shell scripts
!**.sh

# GIMP images
!**.xcf

# PNG images
!**.png

# GZDoom language lumps
!**.enu

# ZScript source code
!**.zs

# But still ignore the following files: ########################################

changelog.txt
