# Ignore everything, but not directories: ######################################
*
!**/

# Except the following file types:

!.gitignore
!.gitattributes

# Plain text documents
!**.txt

# Markdown text documents
!**.md

# Shell scripts
!**.sh

# GIMP images
!**.xcf

# PNG images
!**.png

# ZScript source code
!**.zs

# But still ignore the following files: ########################################

changelog.txt
