*

!*.txt
!*.sh
!*.md
!.gitignore
!*.xcf
!language.*
changelog.txt

*~

!sprites
sprites/*
!sprites/*.png

!sprites/compass
sprites/compass/*
!sprites/compass/*.png

!zscript
zscript/*
!zscript/*.txt
